@page
@model ProiectMedii1.Pages.Equipments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Piecies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipment[0].EquipmentCategories)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EquipmentD.Equipments)
        {
            string selectedRow = ""; 
            if (item.ID == Model.EquipmentID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Piecies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @{ 
                    foreach (var category in item.EquipmentCategories) 
                    {
                            @category.Category.CategoryName <br />  //modificat sa nu apara nr categoriei
                    } 
                } 
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
